* {
  font-family: Lato, Oswald, Playfair+Display;
}

body {
  background-color: #F4F4F4
}

button {
  background-color: #FFFFFF;
  border: #D8856D solid 1px;
  color: #D8856D;
}

a {
  text-decoration: none;
  color: #5F5F5F;
  font-weight: bold;
}

.socials {
  text-align: center;
}

.socials a {
  width: 15px;
  display: inline-block;
  margin-right: 5px;
}

.socialsbio a {
  width: 15px;
  display: inline-block;
  margin-right: 10px;
  padding: 10px;
  border: 1px solid white;
  border-radius: 50%;
  border-color: #EBEBEB;
  height: 15px;
}

.articlelinks a {
  width: 15px;
  display: inline-block;
  margin-right: 5px;
}

.byuser {
  color: #A9A9A9;
  font-style: italic;
}

.container {
  display: flex;
  max-width: 90vw;
  margin: auto;
}

nav {
  background-color: #FFFFFF;
  border: 2px solid #E8E8E8;
  padding-bottom: 15px;
  padding-top: 25px;
  margin-bottom: 48px;
  display: flex;
  font-size: 10px;
  justify-content: space-between;
}

aside {
  width: 360px;
  background-color: #FFFFFF;
  text-align: center;
  margin-left: 6px;
  position: relative;
}

.navlinks a {
  margin-right: 10px;
}

h1,h2,button {
  text-align: center;
}

.button {
  display: flex;
  justify-content: center;
}

.articlefooter {
  display: flex;
  justify-content: space-between;
}

main {
  width: 750px;
  margin-right: 25px;
  margin-left: 77px;
}

.articleimg {
  width: 750px;
  height: 472px;
}

.backgroundimg {
  width: 360px;
  height: 190px;
  margin-bottom: 75px;
}

.portrait {
  /* text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto; */
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translateX(-50%);
  /* right: 50px; */
}

.portrait-img {
  width: 100%;
  border: 10px solid white;
  border-radius: 50%;
}

article {
  background-color: #FFFFFF;
  border-style: solid;
  border-width: 1px;
  border-color: #F0F0F0;
}

.hr1 { /* vertical line */
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}

h2 {
  color: #D88361;
  font-size: 12px;
  margin-top: 42px;
}

h1 {
  color: #545454;
  font-size: 25px;
}

.desc {
  color: #8B8B8B;
  font-size: 20px;
  margin-left: 20px;
}

.bio {
  color: #787878;
}

.instagramrow img {
  margin: 5px 5px 5px 5px;
  width: 100px;
  height: 100px;
}

.footerimg {
  width: 175px;
  height: 250px;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
}

.follow {
  background-color: #fff;
  padding: 10px 10px 10px 10px;
  border-color: red;
  border-width: 10px;
}

.bottom-text {
  background-color: #222324;
  color: #4A4A4A;
  text-align: center;
  padding: 10px 10px 10px 10px;
}

.popularposts {
  border: 3px solid #FDFDFD;
}

.popularpost time {
  color: #A9A9A9;
  font-style: italic;
  font-size: 20px;
}

.popularpostimg {
  width: 200px;
}

.latestposts {
  display: flex;
  justify-content: space-between;
}

.latestpost p time {
  float: right;
}

.latestpostimg {
  width: 100px;
  /* display: flex;
  justify-content: space-between; */
}
